[Unit]
Description=SNMP AgentX Subagent for the SUBAGENT-EXAMPLE-MIB.
After=snmpd.service

[Service]
Type=simple
WorkingDirectory=/home/mmourier/GitHub/snmpSubagent
ExecStart=/home/mmourier/GitHub/snmpSubagent/snmpSubagent
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target

